/* * {
    color: pink;
    background-color: cyan;
} */

body{
    background-color: #ffe8d6;
}
button {
    font-size: 30px;
    background-color: #90e0ef;
}

h1, h2 {
    color: #03045e;
}

#signup {
    background-color: #03045e;
    color: #f8edeb;
}

span {
    color: #6d6875;
}

.tag{
    background-color: #e63946;
    color: white;
    font-size: 16px;
}

.post a {
    color: #6d6875
}

footer a {
    color: #e76f51;
}